@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
 background-color: white;
  color: black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}
.logocontainer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.logo {
  display: flex;
  align-items: center;
  color: #4F709C;
}
.logo img {
  width: 40px; /* 로고 이미지의 크기 조절 */
  height: 40px;
  margin-right: 10px; /* 텍스트와 이미지 사이의 간격 */
}
.logo-text {
  font-size: 1.5em;
}
.topheadermenu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* 아이템을 세로 중앙에 배치 */
  margin-left: auto;
  font-size: small;
}
.manager {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

.manager li {
    margin: 0 10px;
}
.manager a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.manager a:hover {
  color: #4F709C;
}
.divider1 {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}
.mainmenu {
	list-style: none;
  	display: flex;
  	justify-content: center;
  	margin: 5px;
  	padding-bottom: 10px;
}
.mainmenu li {
  margin: 0 15px;
}
.mainmenu a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.mainmenu a:hover {
  color: #4F709C;
}
.smimg img{ 
  	width: 100%;
    height: 150px;
    object-fit: cover;
}
.mainpage {
    justify-content: center;
    align-items: center;
}
.BOARD-text {
	padding-top:30px;
	padding-left:300px
	
}
.divider3 {
  width: 60%;
  height: 1px;
  background-color: gray;
  margin: 10px 300px;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.custom-table thead {
    background-color: #f8f8f8;
    border-bottom: 2px solid #d3d3d3;
}

.custom-table th {
    padding: 10px 15px;
    border-right: 1px solid #d3d3d3;
}

.custom-table th:last-child {
    border-right: none;
}

.custom-table th {
    text-align: center;
}